<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Test</title>
</head>
<body>

<div id="app">
    {{ message }}
</div>

<div id="app-2">
    <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
    </span>
</div>

<div id="app-3">
    <span v-if="seen">Now You See Me</span>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.textstuff }}
        </li>
    </ol>
</div>

<div id="app-5">
    {{ message }}
    <button v-on:click="sayHiLow">Say it</button>
    <br/> 
    {{ message2 }}
    <button v-on:click="reverseMessageOnClick">Reverse Message</button>
</div>

<div id="app-6">
    <p>{{ message1 }}</p>
    <p>{{ message2 }}</p>
    <input v-model="message1">
    <input v-model="message2">
</div>

<!-- component instance -->
<div id="app-7">
    <ol>
      <!--
        Now we provide each todo-item with the todo object
        it's representing, so that its content can be dynamic.
        We also need to provide each component with a "key",
        which will be explained later.

        added a prop (like attr) to pass data from parent to child components.
        App now decoupled from parent via props.
      -->
      <todo-item
        v-for="groceryItem in groceryList"
        v-bind:todo="groceryItem"
        v-bind:key="groceryItem.id"
      ></todo-item>
    </ol>
  </div>


<script src="./vue.js"></script>

</body>
</html>